// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
	text-align: center;
}

#search_form {
	width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(222,222,222,0.5);
  color: #000;
	text-align: center;
}